#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  background-color: #e6c8ad;
}
.title {
  font-size: 42px;
  color: rgb(255, 255, 255);
}
.button {
  border: 2px solid #e6c8ad;
  border-radius: 16px;
  background: none;
  padding: 5px;
  margin: 10px;
}
